<div [ngBusy]="resetPasswordSubscription"></div>
<div class="full-width full-view-height" fxLayout="column" fxLayoutAlign="center center">
  <form #resetPassswordForm="ngForm" class="form-reset-password" >
    <mat-card class="reset-password-pane" fxFlex fxFlexAlign="center">
      <mat-card-title class="no-gutter">
        <mat-toolbar color="primary" class="login-title">Reset Password</mat-toolbar>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field class="full-width">
          <input type="password" matInput name="txtExistingPassword" class="form-control" placeholder="Existing Password" [(ngModel)]="existingPassword"
            required maxlength="15" #existingPasswordControl="ngModel">
          <mat-error *ngIf="existingPasswordControl.errors?.required">Existing Password is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="password" matInput id="txtNewPassword" name="txtNewPassword" class="form-control" placeholder="New Password"
            [(ngModel)]="newPassword" required maxlength="15" validateEqual="txtConfirmPassword" reverse="true" #newPasswordControl="ngModel">
          <mat-error *ngIf="newPasswordControl.errors?.required">New Password is required</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="password" matInput name="txtConfirmPassword" id="txtConfirmPassword" validateEqual="txtNewPassword" class="form-control" placeholder="Confirm Password"
            [(ngModel)]="confirmPassword" required maxlength="15" #confirmPasswordControl="ngModel">
          <mat-error *ngIf="confirmPasswordControl.errors?.required">Re-type new password again to confirm.</mat-error>
          <mat-error *ngIf="!confirmPasswordControl.errors?.required && confirmPasswordControl.errors?.validateEqual">Passwords do not match.</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" class="command-button" [disabled]="resetPassswordForm.form.invalid" type="button" (click)="resetPassword(resetPassswordForm)">Change Password</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
