@import 'theme';
@import '../node_modules/font-awesome/scss/font-awesome';

// @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import '../node_modules/angular2-busy/build/style/busy.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.fill-remaining {
  flex: 1 1 auto;
}

.full-width{
  width: 100%;
}

.mat-icon{
  height: auto !important;
}