@import 'theme';
// @import '../node_modules/font-awesome/scss/font-awesome';

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import '~@angular/material/prebuilt-themes/purple-green.css';

@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import '../node_modules/angular2-busy/build/style/busy.css';

//Header Logo
.logo {
  padding: 5px;
  span {
    font-family: 'Audiowide', cursive;
  }
}

.page-header{
  color: #1e7e34;
  margin-bottom: 10px;
}

//Footer class
.footer {
  text-align: center;
  background-color: white;  
}