<section>
  <h3>{{user?.userName}} Details</h3>
  <mat-dialog-content align="center center">
    <div *ngIf="user; else userNotFound">
      <div fxLayout>
        <div fxFlex="50">First Name:</div>
        <div fxFlex="50">{{user.firstName}}</div>
      </div>
      <div fxLayout>
        <div fxFlex="50">Last Name:</div>
        <div fxFlex="50">{{user.lastName}}</div>
      </div>
      <div fxLayout>
        <div fxFlex="50">Email:</div>
        <div fxFlex="50">{{user.email}}</div>
      </div>
      <div fxLayout>
        <div fxFlex="50">Phone Number:</div>
        <div fxFlex="50">{{user.phoneNumber}}</div>
      </div>
      <div fxLayout>
        <div fxFlex="50">Address:</div>
        <div fxFlex="50">{{user.address}}</div>
      </div>
    </div>
    <ng-template #userNotFound>
      <div>No user details found.</div>
    </ng-template>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close type="button" color="warn">Close</button>
  </mat-dialog-actions>

</section>
